<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal MVC with PHP 8</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contatti">Contatti</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{page}}
    </main>
    <footer>
        Applicazione MVC
    </footer>
</body>
</html>