
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{



  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  --color-text: #555;
  --color-design:  #51e2f5;

}

* {
    margin: 0;
    padding: 0;
}
body{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

header {
    margin-bottom: 4rem;
}
main{
    padding: 1rem;
}
footer {
    font-size: 1rem;
}

#menu{
    position: fixed;
    z-index: 10;
    inset:0;
    
    background-color: var(--color-design);
    opacity: 0.95;
}

#menu.chiuso{
    transform:  translateX(100vw);
    transition: all .5 ease-in-out;
}

#menu.aperto{
    transform:  translateX(0vw);
    transition: all .5 ease-in-out;
}


nav ul {
    margin-top: 6rem;
    list-style: none;
}

nav ul li {
    margin-bottom: 1.6rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    border: 3px solid rgba(255 255 255 /0.5);
    padding: 0.3rem 1.5rem;
    border-radius: 1rem;
}

nav a.active{
    background-color: #fff;
    color:var(--color-design);
}


#barra-1, #barra-2, #barra-3{
    background-color: var(--color-design);
    display: block;
    width: 2rem;
    height: 5px;
    margin: 0.4rem 0;
    transition: .05;
    border-radius: 2px;
}
    
#menu-icon {
    position: fixed;
    right: 1.2rem;
    top: 1rem
}