@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    font-family: "Quicksand", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    --color-text: #474747;
    --color-design: #272424;
    --color-layout: #ffffff;
    --color-text-footer: #bababa;
}
/* OVERRIDE bootstrap*/
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    color: var(--color-text);
    background-color: var(--color-layout);
}


.color-red {
    color: red;
}

.form-format {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.btn {
    padding: 1rem 1.2rem;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 5px;

    transition: all 1s;
}

.btn:hover {
    color: white;
    cursor: pointer;
}

.btn-dblue {
    background-color: dodgerblue;
    color: #d3d3d3;

}

.form-format input, select {
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 2px;

}
.form-format select{
  padding: 1rem 1rem; 
  margin: 0.5rem 0.1rem 0.5rem; 
}

.form-format label {
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
}

.alert {
    border: solid 1px gray;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: start;
    margin: 10px;

}

.bg-success {
    background-color: rgba(51, 160, 51, 0.786);
    color: white;
}

body {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    text-align: center;
}


main {
    padding: 1rem;
    padding-bottom: 3rem;
}


/* NAVBAR */

header {
    margin-bottom: 4rem !important;
    
}




#menu {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: var(--color-design);
    opacity: 1;
}

#menu.chiuso {
    z-index: 99;
    transform: translateX(100vw);
    transition: all .5 ease-in-out;
}

#menu.aperto {
    z-index: 10;
    transform: translateX(0vw);
    transition: all .5 ease-in-out;
}

nav ul {
    margin-top: 6rem;
    list-style: none;
}

nav ul li {
    margin-bottom: 1.6rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    border: 1.8px solid rgba(255 255 255 /0.5);
    padding: 0.3rem 1.5rem;
    border-radius: 1rem;   
    
}

nav a:hover{
    text-decoration: none;
    text-decoration-line: none;
    color: var(--color-text-footer) ;
}

nav a.active {
    background-color: #fff;
    color: var(--color-design);
}


#barra-1,
#barra-2,
#barra-3 {
    background-color: var(--color-design);
    display: block;
    width: 2rem;
    height: 4px;
    margin: 0.4rem 0;
    transition: .5s;
    border-radius: 2px;
}

#menu-icon {
    position: fixed;
    right: 1.2rem;
    top: 1rem;
    cursor: pointer;
    z-index: 30;
}

#menu-icon.trasforma #barra-2 {
    opacity: 0;
}

#menu-icon.trasforma #barra-1 {
    transform: rotate(-50deg) translate(-0.4rem, 0.4rem);
    background-color: white;
}

#menu-icon.trasforma #barra-3 {
    transform: rotate(50deg) translate(-0.5rem, -0.5rem);
    background-color: white;
}

@media(min-width: 700px) {
    #menu-icon {
        display: none;
    }

    #menu {
        z-index: 10;
        position: relative;
        height: 2.6rem;
        background-color: var(--color-design);
    }

    #menu.chiuso {
        transform: translateX(0);
    }

    nav ul {
        margin-top: 0;
        display: flex;
        height: 2.6rem;
    }

    nav li {
        margin-left: 1.3rem;
        height: inherit;
        line-height: 2.6rem;
    }

    nav li:last-of-type {
        margin-left: auto;
        margin-right: 1rem;
    }

    nav a {
        font-size: 1rem;
    }


}

.bg-design{
    background-color: var(--color-design);
}

footer{
    color: var(--color-text-footer);
}